* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}
body{
    margin: 50px auto;
    width: 100%;
    background: #cadbe6;
}
input{
    border: 2px solid #5c5b5b;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
}
textarea{
    border: 2px solid #5c5b5b;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    height: 150px;
}
label{
    color: #757575;
    font-weight: bold;
    margin: 0;
    font-size: 26px;
}
#objetos{
    border: 2px solid #5c5b5b;
    margin: 0;
    background: #cadbe6;
    border-radius: 20px;
}

h3{
    color: #cadbe6;
    font-size: 30px;
    margin: 10px;
}
button{
    color: #cadbe6;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    background: #5c5b5b;
}
#formularioStaff{
    margin: 25px ;
    margin-top: 200px;
    padding: 20px;
    border: 5px solid #5c5b5b;;
    border-radius: 20px;
    width: 500px;
    background: linear-gradient(to bottom, #16222a, #3a6073);
    text-align: center;
    margin-left: 40%;
}

button:hover{
    background: #838383;
}
.nav{
    background: linear-gradient(to bottom, #16222a, #3a6073);
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    }
  
  .nav__li{
    font-size: 2em;
    list-style: none;
    height: 2em;
    position: relative;
    top: 30px;
    float: right;
  
  
  }
  .nav__li-logo{
    
    position: relative;
    height: 100px;
    width: 100px;
  }
  .nav__li-logo:hover{
    
    cursor: pointer;
  }
  .nav__li:hover{
    background: #5c5b5b;
    border-radius: 20px;
    border-style: hidden hidden solid hidden;
    border-color: #4776e6;
    transition: 0.2s;
  }
  .nav__ul a{
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    color: #FFFFFF;
  
  }
  
  .nav__responsive{
    background: linear-gradient(to bottom, #16222a, #3a6073);
    display: none;
    z-index: 1;
    width: 100%;
  
  }
  .nav__responsive-ul{
    font-size: 30px;
    height: 100px;
    list-style: none;
  
  }
  
  .nav__responsive-ul img{
    width: 60px;
    height: 60px;
    position: relative;
    float: right;
    left: 25%;
    
    
  
  }
  
  
  .nav__responsive-div{
    background: #3a6073;
    transition: 2s;
    transition-timing-function: ease-out;
    z-index: 100;
    
  
  
  }
  .nav__responsive-ul a{
    text-decoration: none;
    margin: 5px;
    color: #FFFFFF;
  
    
    
  }
  .nav__responsive-li{
    margin: 10px;
    padding: 10px;
  
  
    
  }
  .nav__responsive-button{
    float: left;
    padding: 20px;
    font-size: 50px;
  }
  .footer__div{
    position: relative;
    float: left;
    width: 100%;
    background: #343A40;
    z-index: 10000;
    top: 145px;
    height: 90px;
  
  
  }
  .footer__div-c{
    position: relative;
    font-size: 30px;
    top: 30px;
  
  }
  .footer__div-j{
    position: relative;
    float: right;
    font-size: 20px;
    right: 10%;
    top: 40px;
    font-weight: bold;
  
  
  
  
  }
  .footer__div-j a{
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    
  
  }
  .footer__div-icon{
    position: relative;
    top: 30px;
  
  }
  .footer__div-icon:hover{
    color: #FFFFFF;
  
  
  }
  @media only screen and (max-width: 800px){
    #formularioStaff{
      margin-left: 0;
    }
    .nav{
    display: none;
    }
    .nav__responsive{
      display:block;
      position: fixed;
      top: 0;
    }
    .nav__responsive-div{
      position: relative;
      left: -300%;
      width: 80%;
      height: 400px;
  
    }
   .aside{
    height: 100%;
  
  
   }
   .aside__anuncio2{
    max-height: 1250px;
    height: 100%;
   }
  
   .article{
    height: 100%;
   }
   .article__div{
    background: #cadbe6;
    height: 100%;
  
    
  }
  
  .article__div-video{
    width: 100%;
    height: auto;
    position: relative;
  }
  .article__div-foto{
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
  }
  
   .nav__responsive-ul:hover > .nav__responsive-div{
    transition: 1s;
    display: inline-block;
    position: fixed;
    z-index: 100;
    left: 0;
    opacity: 98%;
    
   }
   .footer__div{
    position: relative;
    float: left;
    width: 100%;
    background: #343A40;
    z-index: 10000;
    top: 160px;
    height: 90px;
  
   }
   .footer__div-j{
    display: none;
    background: #343A40;
   }
   .footer__div-c{
    display: none;
    width: 100%;
    position: relative;
    float: left;
  
  }
  .footer__div-icon{
    display: none;
  }
  
  .aside__anuncio1 p{
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
  }
  
  h2{
    font-size: 16px;
  }
  
  
   
  
  
  
  
  }